.apc-pageheader {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.apc-pageheader__title {
  margin-bottom: 0;
}

.apc-paramlist {
  dt {
    &:after {
      content:':'
    }
  }
  dd {
  }
}


/****************** Data Table Styles **************/
.datatable {
  margin:2em 0 4em 0;
  display:table;
  color:#777777;

  //border-collapse:collapse;
  border-collapse: separate;
  border-spacing:1px 1px;
  //border:1px solid $medium-gray;
  width:100%;
  font-size:.875em;
  line-height:1;
  //overflow:hidden;
  @include breakpoint('medium'){
    font-size:1em;
  }
}

.datarow{
  display:table-row-group;
  background-color: $white;
  &.datatable--head{
    display: table-row;
    .datarow--cell{
      font-weight: 700;
      padding:1.5em .666em 1em;
    }
  }
}


a.datarow--link {
  display:table-row;
  color:inherit;
  transition:background-color .4s ease;
  text-decoration: none;
  &.active, &:hover, &:focus {
    outline:1px solid $light-green;
    text-decoration: none;
    background-color: $extralight-green;
  }

}

.datarow--cell {
  //border:1px solid $light-gray;
  position: relative;
  display:table-cell;
  padding:.5em 0.125em;
  text-align:center;
  font-size: .75rem;
  vertical-align: middle;
  //text-transform: uppercase;

  @include breakpoint('medium'){
    padding:1em .666em;
    font-size: .875rem;
  }

  .tooltip &:nth-of-type(1), .tooltip &:nth-of-type(2) {
    display: none;
  }
}
