.apc-pageheader {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.apc-pageheader__title {
  margin-bottom: 0;
}

.apc-paramlist {
  dt {
    &:after {
      content:':'
    }
  }
  dd {
  }
}


/****************** Data Table Styles **************/
.datatable {
  margin:2em 0 4em 0;
  display:table;
  color:#777777;
  //border-collapse:collapse;
  border-collapse: separate;
  border-spacing:0 .75em;
  width:100%;
  font-size:.875em;
  line-height:1;
  //overflow:hidden;
  @include breakpoint('medium'){
    font-size:1em;
  }
}

.datarow{
  display:table-row-group;
  &.datatable--head{
    display: table-row;
    .datarow--cell{
      font-weight: 700;
      padding:.75em 0.666em;
    }
  }
}


a.datarow--link {
  display:table-row;
  color:inherit;
  transition:background-color .4s ease;
  text-decoration: none;
  &.active, &:hover, &:focus {
    outline:1px solid currentColor;
    text-decoration: none;
  }

}

.datarow--cell {
  position: relative;
  display:table-cell;
  padding:.25em 0.125em .125em;
  text-align:center;
  vertical-align: middle;
  text-transform: uppercase;

  @include breakpoint('medium'){
    padding:.5em 0.666em .5em;
  }
}
